<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <link href="/content/css/style.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    @RenderSection("head", false)
</head>

<body>
    @RenderBody()
</body>
</html>
